.main-page-wrapper{
    background: url("tech-planet.jpg") no-repeat center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.input-wrapper{
    background-color: #0b4f6c;
    border-radius: 8px;
    width: 500px;

}
.logo-img{
    margin: 0 auto;
    display: block;
}
.main-input{
    border: none;
    outline: transparent;
}